@import '00_essentials';

:root {
  @each $name, $color in $colors {
      --color--#{$name}: #{$color};
      .color--#{$name} { color: var(--color--#{$name}); }
  }

  @each $name, $fontSize in $fontSizes {
      --fs--#{$name}: #{$fontSize};
  }

  @each $name, $weight in $fontWeights {
      --fw--#{$name}: #{$weight};
  }

  --font--regular: #{$font--regular}, sans-serif;

  @for $i from 0 to $gaps {
      --gap--#{$i}: #{$i * $gap};
  }
}

@for $i from 0 to $gaps {
  .mt--#{$i} { margin-top: var(--gap--#{$i}); }
  .mb--#{$i} { margin-bottom: var(--gap--#{$i}); }
  .ml--#{$i} { margin-left: var(--gap--#{$i}); }
  .mr--#{$i} { margin-right: var(--gap--#{$i}); }

  .mx--#{$i} { margin-left: var(--gap--#{$i}); margin-right: var(--gap--#{$i}); }
  .my--#{$i} { margin-bottom: var(--gap--#{$i}); margin-top: var(--gap--#{$i}); }

  .pt--#{$i} { padding-top: var(--gap--#{$i}); }
  .pb--#{$i} { padding-bottom: var(--gap--#{$i}); }
  .pl--#{$i} { padding-left: var(--gap--#{$i}); }
  .pr--#{$i} { padding-right: var(--gap--#{$i}); }

  .px--#{$i} { padding-left: var(--gap--#{$i}); padding-right: var(--gap--#{$i}); }
  .py--#{$i} { padding-bottom: var(--gap--#{$i}); padding-top: var(--gap--#{$i}); }
}

.mx--auto { margin-left: auto; margin-right: auto; }
.m--auto { margin: auto; }

.flex-row{ display: flex; flex-direction: row; align-items: center; justify-content: center;}
.flex-col{ display: flex; flex-direction: column; align-items: center; justify-content: center;}
.flex-jcsb{ justify-content: space-between;}
.flex-jcsa{ justify-content: space-around;}
.flex-aie{ align-items: flex-end;}
.flex-ais{ align-items: flex-start;}

